In [147]:
#UNIVERSIDAD AUTÓNOMA DE NUEVO LEÓN
#FACULTAD DE CIENCIAS FÍSICO MATEMÁTICAS
#MÍNERÍA DE DATOS

#MAESTRA:MAYRA BERRONES
#ALUMNA:KARYME MAYELA GAUNA RODRÍGUEZ
#MATRÍCULA:1819032

#GRUPO:003


#EJERCICIOS BÁSICOS DE PYTHON

In [2]:
#EJERCICIO 1
#Realiza una variable con tu matricula y realiza una secuencia de imprimir con tu nombre y tu matrícula concatenados

In [3]:
Matrícula=1819032
Nombre = 'Karyme Mayela Gauna Rodríguez'
print(Nombre, Matrícula)

Karyme Mayela Gauna Rodríguez 1819032

In [4]:
#EJERCICIO 2
#Pidiendo el input del usuario, pide dos numeros y crea una pequeña calculadora con operadores básicos de suma, resta, multiplicacción, division y exponente

In [7]:
x=float(input("Introduce el primer número:"))
y=float(input("Introduce el segundo número:"))
Suma=x+y
print("La suma de los dos numeros es", Suma)
Resta= x-y
print("La resta de los dos numeros es", Resta)
Multiplicación= x*y
print("La multiplicación de los dos numeros es", Multiplicación)
División = x/y
print("La división de los dos numeros es", División)
Exponente = x**y
print("El exponente de los dos numeros es", Exponente)

Introduce el primer número:6
Introduce el segundo número:5
La suma de los dos numeros es 11.0
La resta de los dos numeros es 1.0
La multiplicación de los dos numeros es 30.0
La división de los dos numeros es 1.2
El exponente de los dos numeros es 7776.0

In [8]:
#EJERCICIO 3
#Con loop while o for, realiza una lista de 10 números multiplos de 3, y después realiza una función de loop que sume todos los números dentro del arreglo

In [15]:
digito=int(input("Introduzca el primer múltiplo"))
print("Estos son los múltiplos de tres")
for i in range(1,11):
 numero=i*digito
 print(numero)
print("Estas son las sumas de los números")
suma=0
for i in range(1,11):
    suma=suma+(i*digito)
    print(suma)

Introduzca el primer múltiplo 3
Estos son los múltiplos de tres
3
6
9
12
15
18
21
24
27
30
Estas son las sumas de los números
3
9
18
30
45
63
84
108
135
165

In [ ]:
#EJERCICIO 4
# Con una función if else, revisar si un número es par o es impar con una función if else revisar si un número es primo o no

In [32]:
num= int(input("Introduce el número:"))
if num % 2 ==0:
    print("El número", num, "es par")
else:
    print("El número", num, "es impar")
m=range(2,num)
c=0
for n in m:
    if num %n==0:
        c+=1
        if c>0:
          print("El número", num, "no es primo")
else:
    print("El número", num, "es primo")

Introduce el número:1
El número 1 es impar
El número 1 es primo

In [ ]:
##EJERCICIO 5
#utilizando diferentes clases de python crea una calculadora con operadores básicos de suma, resta, multiplicación, división y exponente

In [45]:
def menu():
"""MENÚ"""
    print """*************MENÚ*********
1)Suma
2)Resta
3)Multiplicación
4)División
5)Exponente
6)Salir"""
def calculadora():
"""Calculando operaciones"""
menu()
op=int(input("¿Qué operación deasea realizar?"))
while (op>0 and op<6):
    x=float(input("Introduzca el primer valor"))
    y= float(input("Introduzca el segundo valor"))
if op==1:
    print("La suma es", x+y)
    elif op==2:
        print("La resta es", x-y)
    elif op==3:
        print("La multiplicación es", x*y)
    elif op==4:
        print("La división es", x/y)
    elif op==5:
        print("El exponente es",x**y)
    elif op==6
    print("Espero haya sido de utilidad")
calculadora()

IndentationError: expected an indented block (<ipython-input-45-738ad0d65809>, line 2)

In [46]:
#TUPLAS

In [47]:
#crea una variable flotante, integer, boleana y compleja e imprimir el tipo de variable que es

In [58]:
k=48.62
m=9
g=True
r = 53+12.5j
print(type(k), type(m), type(g), type(r))

<class 'float'> <class 'int'> <class 'bool'> <class 'complex'>

In [54]:
#crea una tupla con valores enteros imprimir el primer valor y el ultimo

In [61]:
tupla=(2,4,6,8,10,12,14,16,18,20)
print(tupla[0], tupla[len(tupla)-1])

2 20

In [62]:
#Añadir 3 valores de string a la tupla

In [64]:
añadidos=("Nombre", "Matrícula", "Sexo")
tupla2=tupla+añadidos
print(tupla2)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 'Nombre', 'Matrícula', 'Sexo')

In [65]:
#Verificar si una variable existe dentro de la tupla

In [68]:
if "5" in tupla2:
    print("5 se encuentra en la tupla")
else:
        print("5 NO se encuentra en la tupla")

5 NO se encuentra en la tupla

In [69]:
##LISTAS

In [70]:
#Crea una lista con números aleatorios enteros

In [84]:
import random as r
lista=[]
for i in range(1,41):
    lista.append(r.randint(0,100))
print (lista)

[14, 79, 71, 25, 59, 13, 76, 96, 90, 0, 64, 82, 52, 74, 46, 98, 83, 29, 26, 35, 5, 70, 80, 7, 7, 12, 63, 96, 53, 90, 61, 62, 54, 90, 65, 42, 62, 9, 46, 59]

In [85]:
#Con la funcion def crear dos listas nuevas a partir de la lista creada por numeros aleatorios en la cual en una esten los numeros pares y en otra los impares

In [120]:
def clasificación(lista):
    imp=[]
    par=[]
    
    for i in range(len(lista)):
        if lista[i]%2==0:
            par.append(lista[i])
        else:
            imp.append(lista[i])
    print("Estos numeros pertenecen a la lista de numeros pares", par)
    print("Estos numeros pertenecen a la lista de números impares", imp)
    return par, imp,

In [121]:
#crea dos variables con la longitud de ambas listas

In [123]:
par=[14,76,96,64,82,52,74,46,98,26,70,80,12,96,90,62,4,90,42,62,46]
len(par)

21

In [124]:
impar=[79,71,25,29,59,13,83,29,35,5,7,7,63,53,61,5,65,9,59]
len(impar)

19

In [125]:
#ordene los elementos de la lista de menor a mayor(impar) y de mayor a menor(par)

In [131]:
impar=[79,71,25,29,59,13,83,29,35,5,7,7,63,53,61,5,65,9,59]
impar.sort(reverse= True)
impar

[83, 79, 71, 65, 63, 61, 59, 59, 53, 35, 29, 29, 25, 13, 9, 7, 7, 5, 5]

In [132]:
par=[14,76,96,64,82,52,74,46,98,26,70,80,12,96,90,62,4,90,42,62,46]
par.sort( )
par

[4,
 12,
 14,
 26,
 42,
 46,
 46,
 52,
 62,
 62,
 64,
 70,
 74,
 76,
 80,
 82,
 90,
 90,
 96,
 96,
 98]

In [133]:
#DICCIONARIOS

In [134]:
#crea un diccionario de 6 personas que conozcas y su edad

In [138]:
diccionario ={"Óscar":20, "Vanessa":21, "Iridiana":25, "Kalev":12, "Carlos":45, "Blanca":46}
print(diccionario)

{'Óscar': 20, 'Vanessa': 21, 'Iridiana': 25, 'Kalev': 12, 'Carlos': 45, 'Blanca': 46}

In [137]:
#crear una lista con los valores de edad y reacomodar la ista de menor a mayor

In [139]:
diccedad=[diccionario["Óscar"],diccionario["Vanessa"],diccionario["Iridiana"],diccionario["Kalev"],diccionario["Carlos"],diccionario["Blanca"],]
diccedad.sort()
print(diccedad)

[12, 20, 21, 25, 45, 46]

In [140]:
#Usando el diccionario y un loop, imprimir solo los nombres

In [143]:
for x in diccionario:
    print(x)

Óscar
Vanessa
Iridiana
Kalev
Carlos
Blanca

In [144]:
#Añadir dos personas nuevas a tu diccionario

In [146]:
diccionario["Kenddy"]=11
diccionario["Jhoseline"]=13
print(diccionario)

{'Óscar': 20, 'Vanessa': 21, 'Iridiana': 25, 'Kalev': 12, 'Carlos': 45, 'Blanca': 46, 'Kenddy': 11, 'Jhoseline': 13}

In [148]:
##SETS

In [149]:
#Crea un set con 100 numeros aleatorios enteros del 1 al25

In [153]:
import random 
for i in range(100):
    print(random.randint(1,25))

5
25
23
11
21
18
17
4
8
22
3
5
9
8
1
5
25
15
16
9
1
25
8
7
9
6
25
6
1
6
2
23
4
25
11
22
19
11
5
11
22
22
4
22
3
24
15
11
14
25
9
11
7
21
8
14
4
19
16
9
19
24
4
8
18
5
8
4
20
21
4
17
4
24
13
19
5
23
11
20
23
13
23
6
22
20
1
3
25
1
13
19
1
14
9
12
3
18
16
13

In [154]:
#Comprueba la longitud de tu set

In [155]:
len(range(100))

100

In [156]:
#crea una lista de 5 números aleatorios del 1 al 10 y comprueba sic ada valor pertenece a un set inicial

In [159]:
import random
for i in range(5):
    print(random.randrange(1,10))

2
4
2
5
6